/*Ice Cream Flavor & Mixins Lists View Style*/
/*Main*/
.list-flavors-mixins-container{
    width:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.list-flavors-mixins-container .view-content {
    width:100%;
}
.list-flavors-mixins-container .views-row {
    width:49%;
    display:inline-block;
}
.list-title-content {
    text-align: center;
    font-size:1.8em;
}

/*List Images*/
.list-image-content {
    text-align: center;
}
.list-image-content img{
    width:100%;
    height:100%;
    max-width:400px;
}

/*List Body*/
.list-flavors-mixins-container .views-field .views-field-body{
    vertical-align:top;
}
.list-body-content {
    display: flex;
    justify-content: center;
    padding:0 0 1% 8%;
    vertical-align:top;
}
.list-body-content p{
   font-size:.7em;
}
.list-body-content h3 {
    text-transform:uppercase;
}
.list-body-content ul{
    list-style-type:none;
    -webkit-padding-start:0px;
    width:33%;
    padding:1%;
}
.list-body-content ul li {
    border-left:2px solid #FFE075;
    margin-bottom:7px;
    padding:6px;
}

/*Media Queries*/
@media only screen and (max-width: 900px) {
    .list-flavors-mixins-container .views-row {
        width:100%;
    }
}
@media only screen and (max-width: 600px) {
    .list-body-content {
        display:block;
    }
    .list-body-content ul{
        width:100%;
    }
}