/*Front Page Styles*/
/*Main*/
.front-pg-main-container .region-content {
    width:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*Main Content*/
.front-pg-main-container #block-views-front-page-conent-block,.front-pg-main-container #block-system-main {
    width:49%;
    display:inline-block;
}
.front-pg-main-container #block-system-main{
    margin:5% 2% 5% 0;  
}
.front-pg-main-container #block-system-main .views-field-title {
    padding-top:3%;
    font-size:1.4em;
    font-family: 'Noto Sans', sans-serif;
}

/*Image Slider*/
.front-pg-main-container #views_slideshow_cycle_teaser_section_front_page_conent-block_1 {
    margin:0 auto;
    text-align:center;
}
.field-content .image-slider a img {
    max-width:400px;
    width:100%;
    height:auto;
    
}

/*Media Queries*/
@media only screen and (max-width: 1000px) {
    .front-pg-main-container #block-views-front-page-conent-block,.front-pg-main-container #block-system-main {
        width:100%;
        display:block;
        margin:2% 5%;
    }
}
@media only screen and (max-width: 500px) {
    .front-pg-main-container #block-system-main .views-field-title {
        font-size:1.2em;
    }
    .front-pg-main-container #block-views-front-page-conent-block,.front-pg-main-container #block-system-main {
        margin:2%;
    }
}

