/*Location Styles*/
/*Main*/
.store-info-body {
    width:100%;
    display: flex;
    justify-content: center;
}
.store-info-body div{
    width:49%;
    display:inline-block;
    vertical-align:top;
    padding:2%;
}
.store-info-body h3 {
    text-transform:uppercase;
    margin-bottom:.8em;
}
.store-info-body h3:first-of-type {
    margin-top:0;
}
.store-info-body p {
    margin-bottom:1.6em;
}

/*Store Hours Table*/
.store-info-body tbody{
    border:0;
}
.store-info-body table{
    border-collapse:separate; 
    border-spacing: 0 .7em;
}
.store-info-body tr{
    padding:6px 5px 6px 0;
}
.store-info-body td{
    padding:4px 3px 4px 0;
}
.store-info-body tr td:last-of-type{
    padding-left:5px;
}
.store-info-body tr td:first-of-type{
    border-left:2px solid #FFE075;
    padding-left:5px;
}

/*Map*/
.store-info-body iframe{
    border-radius:5%;
    max-width: 100%;
    max-height: 100%;
}

/*Media Queries*/
@media only screen and (max-width: 1000px) {
    .store-info-body {
        flex-wrap: wrap;
    }
    .store-info-body div{
        width:100%;
        margin:0 20%;
    }
}
@media only screen and (max-width: 768px) {
    .store-info-body div{
        width:100%;
        margin:0 2%;
    }
}