/*Main Styles*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans:700');
body {
    padding: 0;
    margin: 0;
    background: #FBFBFB; 
    font-family: 'Montserrat', sans-serif;
    letter-spacing:.03em;}
a {
    text-decoration: none; }
h1, h2, h3 {
    font-family: 'Noto Sans', sans-serif;}
  
.element-invisible {
    display: none; }
  
.left {
    float: left; }
  
.full-width {
    width: 100%; }
  
.three-fourths {
    width: 73%;
    padding: 1%;}
  
.half {
    width: 48%;
    padding: 1%; }
  
.one-fourth {
    width: 23%;
    padding: 1%; }

/*Header*/
.header-wrapper {
    width: 100%;
    background:linear-gradient(0deg,rgba(251,251,251,0.5),rgba(251,251,251,0.5)),url("../img/dotsBG2.jpg") no-repeat center top;
    background-attachment:fixed;
    background-size: auto 50%;
    height: 200px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-wrapper img {
    max-width:325px; 
}
.header-wrapper .header{
    background:transparent;
}

/*Navigation Desktop*/ 
.navigation-container {
    background-color:#FBFBFB;
    height:50px;
    position: relative;
    text-align:center;
    border-bottom: 2px solid #FFE075;
    border-top: 2px solid #FFE075;
    z-index:10;
}
.menu-container {
    text-align: center; 
    position: absolute;              
    top: 50%;  
    left: 50%;
    margin-right: -50%;                      
    transform: translate(-50%, -50%);
}
#nice-menu-1 li{
    border:0px;
    padding: .7em;
    background-image:none;
    text-transform:uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-size:1.3em;
}
#nice-menu-1 li:last-of-type {
    border:0px;
}
#nice-menu-1 li:hover{
    background-image:none;
}
#nice-menu-1 li a {
    color:#323232;
    text-decoration:none;
}
#nice-menu-1 li a:hover{
    color:#E23C41;
}
ul.nice-menu-down li.menuparent, ul.nice-menu-down li.menuparent:hover {
    background-color:transparent;
}
ul.nice-menu-down li.menuparent{
    color:#323232;
}
ul.nice-menu-down li.menuparent:hover{
    color:#E23C41;
}
ul.nice-menu a {
    padding:0px;
}
ul.nice-menu a:hover,ul.nice-menu li, ul.nice-menu li:hover {
    background-color:transparent;
}
ul.nice-menu-down ul {
    top:55px;
    background:#F7F7F7;
    border: 1px solid #FFE075;
}
ul.nice-menu, ul.nice-menu ul {
    border-top:0px;
    z-index:7;
}
#nice-menu-1 li ul li{
    border:0px;
    border-bottom:1px solid #FFE075;
    background:#F7F7F7;
    font-size:.9em;
    text-align:left;
}
/*Navigation Mobile*/
.responsive-menus.responsified span.toggler {
    background: transparent;;
    color: #323232;
    border-radius: 5px;
    box-shadow:none;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    text-transform:uppercase;
}
.responsive-menus.responsified span.toggler:hover,.responsive-menus.responsified span.toggler:active {
    color:#E23C41;
}
.responsive-menus.responsified.responsive-toggled span.toggler {
    border-bottom:2px solid #FFE075;
}
.responsive-menus.responsified .responsive-menus-simple {
    background: #F7F7F7;
    box-shadow: none;
    border-bottom:2px solid #FFE075;
    font-family: 'Noto Sans', sans-serif;
}
.responsive-menus.responsified.responsive-toggled.absolute {
    position: relative;
    z-index: 999;
}
.responsive-menus.responsified.responsive-toggled.absolute .responsive-menus-simple {
    position: absolute;
    z-index: 999;
    top: auto;
}
.responsive-menus.responsified .responsive-menus-simple li {
    margin: 1em 5%;
}
.responsive-menus.responsified .responsive-menus-simple li a {
    color: #323232;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    padding:0;
    border-bottom:none;
}
.responsive-menus.responsified .responsive-menus-simple li a:hover,.responsive-menus.responsified .responsive-menus-simple li a:active {
    color:#E23C41;
}
.responsive-menus.responsified .responsive-menus-simple li ul li a {
    padding: 0;
}
.responsive-menus.responsified .responsive-menus-simple>li.last a {
    border-bottom: none;
}
.responsive-menus.responsified .menu-path-nolink{
    text-align:left !important;
    margin: 1em 5%;
    text-transform:uppercase;
}
/* Inactive rule */
.responsive-menus span.toggler {
    display: none;
}


/*Above Main Content*/
.above-content-container {
    background:#FBFBFB;
    margin-top:0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.above-content {
    padding-top:2%;
}
.above-content img{
    width:100%;
}

/*Main Content*/
.title {
    font-size:28px;
    text-align:center;
    padding-bottom:1%;
}
.content-container {
    border-bottom: 0;
    background: #FBFBFB;
    max-width:1300px;
    margin:0 auto;
    padding:3% 5%;
}
.content {
    width:100%;
}

/*User login*/
.content form {
    margin:5% 0;
}
.content form input[type="text"],.content form input[type="password"]{
    width:175px;
    padding:5px;
}
.content form input[type="submit"]{
    margin-top:2%;
    padding:5px;
    font-size:1.1em;
    background-color:#FBFBFB;
    border: 2px solid #FFE075;
    color:#323232;
    font-family: 'Noto Sans', sans-serif;
    text-transform:uppercase;
}
.content form input[type="submit"]:hover {
    color:#FBFBFB;
    background-color:#323232;
    border: 2px solid #323232;
}
.form-actions .form-wrapper{
    text-align:center;
}
.content form div.item-list ul{
    list-style-type: none;
}
.content form div.item-list ul li{
    margin:0 0 0.25em 0;
}

/*Tabs*/
.tab-container ul.tabs, .site-container .tab-container ul.primary {
    padding: 0;
    margin: 0; 
    border-bottom:2px solid #FFE075;
}
.tab-container ul.tabs li, .site-container .tab-container ul.primary li {
    display: inline-block;
    margin-right: 5px;
    padding: .25em 0; 
}
.tab-container ul.tabs li:last-of-type, .site-container .tab-container ul.primary li:last-of-type {
    margin: 0; 
}
.tab-container ul.tabs li a, .site-container .tab-container ul.primary li a {
    padding: .25rem .5rem;
    margin: 0; 
    background-color:#FBFBFB;
    border: 2px solid #FFE075;
    color:#323232;
    font-family: 'Noto Sans', sans-serif;
    text-transform:uppercase;
}
.tab-container ul.primary li.active a {
    background-color:#FBFBFB;
    border: 2px solid #FFE075;
    border-bottom: 2px solid #FBFBFB;
}
.tab-container ul.tabs li a, .site-container .tab-container ul.primary li a:hover {
    color:#E23C41;
}

/*Below Main Content*/
.below-content p{
    text-align:center;
    font-size:.8em;
}

/*Footer*/
.footer-container {
    background: #FBFBFB;
    margin:0; 
    width:100%;
    padding:2% 0;
    display: flex;
    justify-content: center;
    border-top: 2px solid #FFE075;
    text-align:center;
}
.footer-container ul {
    list-style-type:none;
    display:inline-block;
    width:300px;
    vertical-align:top;
    -webkit-padding-start: 0px;
}
.footer-container img {
    filter:invert(10deg);
    transition:1s ease;
}
.footer-container img:hover {
    filter:invert(50deg);
}

/*Media Queries*/
@media only screen and (max-width: 950px) {
    .footer-container ul {
        display:block;
        width:100%;
        margin:20px 0px;
    }
}
@media only screen and (max-width: 700px) {
    .header-wrapper img {
        max-width:250px; 
    }
}
@media only screen and (max-width: 768px){
    .menu-container {
        width:100%;
    }
}