/*Ice Cream & Cookie Products Styles*/
/*Main*/
.ic-products-container,.cookie-products-container {
    width:100%;
    display: flex;
    justify-content: center;
}
.ic-products-container .view-content,.cookie-products-container .view-content {
    width:100%;
}
.ic-products-container .views-row,.cookie-products-container .views-row {
    width:49%;
    display:inline-block;
    vertical-align:top;
    margin-bottom:2%;
}

/*Product Image*/
.ic-product-image,.cookie-product-image {
    text-align:center;
}
.ic-product-image img,.cookie-product-image img{
    width:100%;
    height:100%;
    max-width:400px;
}

/*Product Body*/
.ic-product-body,.cookie-product-body {
    padding:1% 2%;
}
.ic-product-body h3,.cookie-product-body h3 {
    text-align:center;
    text-transform:uppercase;
}
.ic-product-body h4,.cookie-product-body h4 {
    text-align:center;
}
.ic-product-body h4:first-of-type,.cookie-product-body h4:first-of-type {
    font-style:italic;
}

/*Media Queries*/
@media only screen and (max-width: 700px) {
    .ic-products-container .views-row,.cookie-products-container .views-row {
        width:100%;
        display:block;
    }
}